{% extends "sms_base.html" %}
{% import "_macros.html" as macros %}

{% block description %}{{ "%s" % description }}{% endblock %}
{% block keywords %}{{ "%s" % keywords }}{% endblock %}

{% block title %}短信列表{% endblock %}

{% block content %}
    <section class="container sms-content-ad">
        <div class="ad_center">
            <!-- 内容页广告 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3001094598236152"
                 data-ad-slot="5211110995"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </section>

    <section class="container-fluid sms_content">
        <div class="container sms-content-list">
            <div class="sms-content-text">
                <h2>最新短信内容</h2>
            </div>
            <div class="sms-content-table table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="3%"> #</th>
                        <th width="12%"> 电话号码</th>
                        <th width="70%"> 短信内容</th>
                        <th width="15%"> 发送日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list_four %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if item.phone_number|length <9 %}
                                <td>{{ item.phone_number }}</td>
                            {% else %}
                                <td> {{ item.phone_number[:item.phone_number|length - 8]  + '****' + item.phone_number[item.phone_number|length - 4:] }} </td>
                            {% endif %}
                            <td> {{ item.Content }} </td>
                            <td>
                                <time>{{ item.SMS_ReceiveTime }}</time>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="container sms-content-ad">
        <div class="ad_center">
            <!-- 内容页广告 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3001094598236152"
                 data-ad-slot="5211110995"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </section>
    <section class="container-fluid sms_content">
        <div class="container sms-content-list">
            <div class="sms-content-text">
                <h2>以往短信内容</h2>
            </div>
            <div class="sms-content-table table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="3%"> #</th>
                        <th width="12%"> 电话号码</th>
                        <th width="70%"> 短信内容</th>
                        <th width="15%"> 发送日期</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list_surplus %}
                        <tr>
                            <td> {{ loop.index }}</td>
                            {% if item.phone_number|length <9 %}
                                <td>{{ item.phone_number }}</td>
                            {% else %}
                                <td> {{ item.phone_number[:item.phone_number|length - 8]  + '****' + item.phone_number[item.phone_number|length - 4:] }} </td>
                            {% endif %}
                            <td> {{ item.Content }} </td>
                            <td>
                                <time>{{ item.SMS_ReceiveTime }}</time>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="sms-content-pager">
            {% if list_surplus %}
            {% if phone_number==1 %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.SMSContent',phone_number=1) }}
            </div>
            {% endif %}
                {% if phone_number==3 %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.SMSContent',phone_number=3) }}
            </div>
            {% endif %}
                {% if phone_number==5 %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination,'.SMSContent',phone_number=5) }}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block styles %}
    <link href="{{ url_for('static',filename='css/sms_receive.css') }}" rel="stylesheet">
{% endblock %}